
/* Remove underline from dates */
.fc .fc-daygrid-day-number {
    text-decoration: none !important;
}
/* Remove underline from weekday headers */
.fc .fc-col-header-cell-cushion {
    text-decoration: none !important;
    color: rgb(30, 58, 95);

}

/* Change date color */
.fc .fc-daygrid-day-number {
    color: rgb(30, 58, 95);
    font-weight: 600;
}

/* Reduce day cell height */
.fc .fc-daygrid-day-frame  {
    min-height: 20px;
    max-height: 20px;
}

/* Style month title */
.fc .fc-toolbar-title {
    font-size: 28px;
    font-weight: bold;
    color: rgb(30, 58, 95);
}

/* Style buttons */
.fc .fc-button {
    padding: 5px 10px;
    border-radius: 8px;
    background-color: rgb(30, 58, 95);
    color: white;
}