* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
    color: rgb(30, 58, 95);
}
#imgLogo{
    position: relative;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
}
/*nav bar*/
.library-name{
    color: rgb(30, 58, 95);
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}
.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}
.nav-links a {
    text-decoration: none;
    color: rgb(30, 58, 95);
    font-weight: 500;
    font-size: large;
}
.nav-links a:hover {
    color: rgb(255, 213, 94);
}
.nav-buttons {
    display: flex;
    gap: 10px;
}
.nav-bar-button{
    color: rgb(30, 58, 95);
    background-color: rgb(255, 213, 94);
    border-radius: 7px;
}
.nav-bar-button:hover{
    background-color: rgb(30, 58, 95);
    color: white;
}
/* banner */
.banner {
    height: 500px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    background-color: rgb(30, 58, 95);
    color: rgb(255, 255, 255);
}
.slogan{
    font-style: italic;
}
/* features */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: -50px;
    padding: 0 40px;
}
.feature-card {
    background-color: rgb(255, 213, 94);
    color: rgb(30, 58, 95);
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    transition: 0.4s;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
.feature-card:hover {
    transform: translateY(-9px);
}
.feature-card h3 {
    margin-bottom: 10px;
}
/* about */
.about {
    display: flex;
    padding: 60px;
    gap: 40px;
    align-items: center;
}
#imgAbout{
    width: 470px;
    border-radius: 10px;
    height: 300px;
}
.about-image{
    width: 400px;
    border-radius: 10px;
    height: 250px;
}
.about-text {
    flex: 1;
}
.about-text h2 {
    margin-bottom: 15px;
}
.about-text p {
    margin-bottom: 20px;
    font-style: italic;
    font-size: medium;
}
/* membership */
.membership {
    padding: 40px;
    text-align: center;
}
.membership h2 {
    margin-bottom: 30px;
}
.plans {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.plan-card {
    padding: 25px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: 0.4s;
    background-color: rgb(30, 58, 95);
    color: rgb(255, 213, 94);;
}
.plan-card:hover {
    transform: translateY(-9px);
}
.plan-card h3 {
    margin-bottom: 10px;
}
/* events */
.events {
    padding: 40px;
    text-align: center;
}
.events h2 {
    margin-bottom: 30px;
}

.event-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.event-card {
    background: rgb(30, 58, 95);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.4s;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    color: white;
}
.event-card:hover {
    transform: translateY(-9px);
}

.event-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.event-card h4 {
    padding: 15px;
}

.event-button{
    margin: 10px;
    background-color: rgb(255, 213, 94) ;
    color: rgb(30, 58, 95);
    border-radius: 7px;
}
.event-button:hover{
    background-color: white ;
    color:  rgb(30, 58, 95);
}

/* footer */
footer {
    background-color: rgb(30, 58, 95);
    color: white;
    padding: 40px;
    margin-top: 10px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    margin-bottom: 5px;
    color: rgb(255, 213, 94);
}

.footer-container p {
    font-size: 16px;
    margin-bottom: 3px;
}
.footer-container a {
    text-decoration: none;
    color: white;
    font-weight: 200;
}
.footer-container a:hover {
    color: rgb(255, 213, 94);
}

footer .copyright {
    text-align: center;
    font-size: 14px;
}

.contact-section {
    padding: 10px 10px;
    background-color: #f8f9fa;
}

.contact-container {
    max-width: 1300px;
    margin: auto;
    text-align: center;
}

.contact-title {
    font-size: 30px;
    margin-bottom: 30px;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    text-align: left;
}

.contact-map {
    grid-column: span 2;
}

.contact-details,
.opening-hours {
    background-color: rgb(30, 58, 95);
    padding: 20px;
    border-radius: 8px;
    color: white;
}

.contact-details h4,
.opening-hours h4 {
    margin-bottom: 15px;
}
.yellow-text{
    color: rgb(255, 213, 94);
}
.custom-list {
    list-style: none; /* remove default circles */
    padding-left: 0;
}

.custom-list li {
    position: relative;
    padding-left: 28px;
    margin-bottom: 8px;
}

.custom-list li::before {
    content: "✔";   /* change icon here */
    position: absolute;
    left: 0;
    color: rgb(255, 213, 94);
    font-weight: bold;
}
#btnSearch{
    width: 50px;
    background-color: rgb(30, 58, 95);
}
.select-area{
    border: 2px solid rgb(30, 58, 95);
    color:rgb(30, 58, 95) ;
}