<div th:fragment="bottomFragment">
    <!-- link jquery -->
    <script src="/resources/script/jQuery v3.7.1.js"></script>
    <!-- link bootstrap js -->
    <Script src="/resources/bootstrap-5.2.3/js/bootstrap.bundle.min.js"></Script>
    <!-- link sweetalert js -->
    <script src="/resources/sweetalert2/package/dist/sweetalert2.all.min.js"></script>
    <!-- link data tables js -->
    <script src="/resources/DataTables/datatables.min.js"></script>
    <!-- link validation function js -->
    <script src="controljs/validationfunction.js"></script>
    <!-- link fullcalendar js -->
    <script src="/resources/fullcalendar/lib/main.min.js"></script>
    <!-- link jquery ui js -->
    <script src="/resources/jquery-ui/jquery-ui.min.js"></script>
    <!-- link common js -->
    <script src="controljs/common.js"></script>
    <!-- link sidebar js -->
    <script src="/controljs/sidebar.js"></script>
</div>