<div th:fragment="headFragment">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <!-- library icon -->
    <link rel="icon" type="image/png" sizes="32x32" href="/library.png">
    <!-- link bootstrap css -->
    <link rel="stylesheet" href="/resources/bootstrap-5.2.3/css/bootstrap.min.css">
    <!-- link fontawesome css -->
    <link rel="stylesheet" href="/resources/fontawesome-free-6.7.2/css/all.min.css">
    <!-- link sweetalert css -->
    <link rel="stylesheet" href="/resources/sweetalert2/package/dist/sweetalert2.min.css">
    <!-- link datatable css -->
    <link rel="stylesheet" href="/resources/DataTables/datatables.min.css">
    <!-- link common css -->
    <link rel="stylesheet" href="/resources/css/common.css">
    <!-- link sidebar css -->
    <link rel="stylesheet" href="/resources/css/sidebar.css">
    <!-- link fullcalendar css -->
    <link rel="stylesheet" href="/resources/fullcalendar/lib/main.min.css">
    <!-- link jquery css -->
    <link rel="stylesheet" href="/resources/jquery-ui/jquery-ui.min.css">
</div>