<!DOCTYPE html>
<html lang="en">
<head th:replace="~{headerfragment::headFragment}"></head>

<body>
<div class="container-fluid">
    <!-- link side bar -->
    <nav th:replace="~{sidebar::sidebarFragment}"></nav>
    <!-- title area -->
    <div class="row mt-2 title-row">
        <div class="div-title p-1 text-center">
            <div class="d-flex align-items-center justify-content-center">
                <img class="icon-img me-2" src="/resources/images/borrow.png" alt="">
                <h3 class="fw-bold main-text">My Borrowings</h3>
            </div>
        </div>
    </div>
    <!-- table -->
    <div class="card m-1">
        <div class="card-body">
            <table class=" table  table-bordered" id="tableMyBorrowings">
                <thead id="tableHeadMyBorrowings" class="table-head text-center">
                <tr>
                    <th>#</th>
                    <th>Borrow Code</th>
                    <th>Accession No</th>
                    <th>Book Title</th>
                    <th>Borrow Date</th>
                    <th>Handover Due Date</th>
                    <th>Renew Date</th>
                    <th>Renew Handover Due Date</th>
                    <th>Handovered Date</th>
                    <th>Delay Days</th>
                    <th>Fine Cost</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="tableBodyMyBorrowings" class="table-body text-center">
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="~{footerfragment::bottomFragment}"></div>
<!-- link bookreservation js -->
<script src="controljs/myborrowings.js"></script>
</body>

</html>