<!DOCTYPE html>
<html lang="en">
<head th:replace="~{headerfragment::headFragment}"></head>
<head>
    <!-- link renew css -->
    <link rel="stylesheet" href="/resources/css/renew.css">
</head>

<body>
    <div class="container-fluid">
        <!-- link side bar -->
        <nav th:replace="~{sidebar::sidebarFragment}"></nav>
        <!-- title area -->
        <div class="row mt-2 title-row">

            <div class="div-title p-1 text-center">
                <div class="d-flex align-items-center justify-content-center">
                    <img class="icon-img me-2" src="/resources/images/renew.png" alt="">
                    <h3 class="fw-bold main-text">Book Renewals</h3>
                </div>
            </div>
        </div>
        <!-- tab-pills -->
        <ul class="nav nav-pills" id="tabPills" role="tablist">
            <li class="nav-item" role="presentation">
                <button data-bs-toggle="pill" data-bs-target="#renewalTabPillForm"
                    class="nav-link m-1 fw-bold active pill-tab" id="renewalFormPill" type="button"
                    aria-controls="renewalTabPillForm" role="tab" aria-selected="true">
                    <h6 class="fw-bold tab-name">Renewal Form</h6>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button data-bs-toggle="pill" data-bs-target="#renewalTabPillTable" class="nav-link m-1"
                    id="renewalTablePill" type="button" aria-controls="renewalTabPillForm" role="tab"
                    aria-selected="false">
                    <h6 class="fw-bold tab-name">Renewal Table</h6>
                </button>
            </li>
        </ul>
        <div class="tab-content" id="pillsTabContent">
            <!-- form -->
            <div class="tab-pane fade show active" id="renewalTabPillForm" role="tabpanel"
                aria-labelledby="renewalTabPillForm" tabindex="0">
                <div class="card m-1">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <form onsubmit="return false" id="renewalForm" class="p-1">
                                    <!-- required mark -->
                                    <div class="row">
                                        <div class="col text-end fw-bold">
                                            <p class="required-fields">Required Fields <span
                                                    class="text-danger">*</span></p>
                                        </div>
                                    </div>
                                    <!-- member id -->
                                    <div class="row">
                                        <div class="col-4"></div>
                                        <div class="col-4">
                                            <div class="input-group">
                                                <span class="input-group-text">
                                                    <label for="textMemberNo" class="form-albel fw-bold">Member No :
                                                        <span class="text-danger">*</span></label>
                                                </span>
                                                <input type="text" id="textMemberNo" placeholder="Enter Member No"
                                                    class="form-control input-area" required data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" data-bs-title="Enter Member No" disabled>
                                            </div>
                                        </div>
                                        <div class="col-4"></div>

                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-3"></div>
                                        <div class="col-6">
                                            <div class="card member-name-photo-card p-2">
                                                <div class="row">
                                                    <div class="col-2" >
                                                        <img src="/resources/images/memberdefault.png" id="imgMemberPhoto" class=" member-img d-flex align-items-center justify-content-center">
                                                    </div>
                                                    <div class="col-10">
                                                        <div class="row mt-1 align-items-center">
                                                            <div class="col-4 fw-bold normal-text">Member Name</div>
                                                            <div class="col-1 fw-bold normal-text">:</div>
                                                            <div class="col-7 fw-bold normal-text" id="memberName"></div>
                                                        </div>
                                                        <div class="row mt-1 align-items-center">
                                                            <div class="col-4 fw-bold normal-text">Member Status</div>
                                                            <div class="col-1 fw-bold normal-text">:</div>
                                                            <div class="col-7 fw-bold normal-text" id="memberStatus"></div>
                                                        </div>
                                                        <div class="row mt-1 align-items-center">
                                                            <div class="col-4 fw-bold normal-text">Books On Hand</div>
                                                            <div class="col-1 fw-bold normal-text">:</div>
                                                            <div class="col-7 fw-bold normal-text" id="textBooksOnHand"></div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3"></div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <div class="card borrowed-books-table-card p-4">
                                            <table class="table table-bordered">
                                                <thead id="tableHeadBorrowedBooks" class="table-head text-center">
                                                    <tr>
                                                        <th></th>
                                                        <th>Borrow Code</th>
                                                        <th>Book</th>
                                                        <th>Borrowed Date</th>
                                                        <th>Handover Due Date</th>
                                                        <th>New Handover Due Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableBodyBorrowedBooks" class="normal-text">
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <!-- buttons -->
                        <div class="row">
                            <div class="col-6">

                            </div>

                            <div class="col-6 text-end">
                                <button class="btn fw-bold form-btn button-clear" id="buttonClear" type="button">
                                    <i class="fa-solid fa-recycle" style="color: #a3a3a3;"></i>
                                    Clear
                                </button>


                                <button class="btn fw-bold form-btn button-submit" id="buttonSubmit" type="button"
                                        onclick="submitRenewalButton()">
                                    <i class="fa-solid fa-floppy-disk" style="color: #00c86e;"></i>
                                    Submit
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- table -->
        <div class="tab-pane fade" id="renewalTabPillTable" role="tabpanel" aria-labelledby="renewalTabPillTable"
            tabindex="0">
            <div class="card m-1">
                <div class="card-header"></div>
                <div class="card-body">
                    <table class="table table-bordered" id="tableRenewals">
                        <thead id="tableHeadRenewal" class="table-head text-center">
                            <tr>
                                <th>#</th>
                                <th>Borrow Code</th>
                                <th>Member No</th>
                                <th>Member Name</th>
                                <th>Accession No</th>
                                <th>Book Title</th>
                                <th>Borrow Date</th>
                                <th>Renew Date</th>
                                <th>New Handover Due Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="tableBodyRenewal" class="table-body text-center">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>
    <div th:replace="~{footerfragment::bottomFragment}"></div>
    <!-- link renewal js -->
    <script src="controljs/renewal.js"></script>
</body>

</html>